
.post-map {

& {
    display:flex;
}    

.map {
  display: flex;
  width: 100%;
  height: 100%;
}
.map-height {
  height: 35rem;
}
.map-title {
  height:45px;
  text-align:center;
  font-size: 1.4rem;
  vertical-align:middle;
  margin-top:spacing(small);
  margin-bottom:spacing(large);
}

.map-cover {
  display:block;
  width:100%;
  background: #ededed;
  min-height:35rem;
  &.map-cover--comute {
    width:77%;
  }
}
.map-item {
  display:flex;
  width:100%;
  height:100%;
}

}