
.post-map {

& {
    display:flex;
}    

.map {
  display: flex;
  width: 100%;
  height: 100%;
}
.map-height {
  height: 35rem;
}
.map-title {
  height:45px;
  text-align:center;
  font-size: 1.4rem;
  vertical-align:middle;
  margin-top:$break-small;
  margin-bottom:$break-large;
}

.map-cover {
  display:block;
  width:100%;
  background: #ededed;
  min-height:35rem;
  &.map-cover--comute {
    width:77%;
  }
}
.map-item {
  display:flex;
  width:100%;
  height:100%;
}

.flex { display:flex; }
.flex-column{ flex-direction:column; }
.flex-max { flex:1; }
.flex-between { justify-content:space-between; }
.flex-center {
  justify-content:center;
  align-items:center;
}
.flex-center--content { justify-content:center; }
.flex-center--items { align-items:center; }
.flex-end {
  align-self:flex-end;
}

}