<visual>
    <ng-container class="visual-header">
        City of Richmond - Projects
    </ng-container>
    <ng-container class="visual-content d-flex">
        <div class="row">
            <div class="col-md-8">
                <div class="map-item h-100" id="map" #map></div>
            </div>
            <div class="col-md-4">
                <about-me-popup></about-me-popup>
            </div>
        </div>
    </ng-container>
    <ng-container class="visual-description">
        A prototype of doing an "About Me" and the work I do in a pseudo-map form. Later, I felt the map is lackluster
        and is distracting to the core part, introducing me. Further, the geographic context of where I work on 
        project isn't very meaningful. Perhaps if I worked on this on a state or national scale there would be a more
        compelling reason.

        I no longer keep this information up to date, so don't take anything on this map as accurate!
    </ng-container>
    <ng-container class="visual-footer">
        <div class="text-right">
            Created: August, 2018
        </div>
    </ng-container>
</visual>
