<div class="visual-body d-flex flex-column h-100">
    <h4 class="visual-title text-center mb-5">
        <ng-content select=".visual-header"></ng-content>
    </h4>
    <div class="card-primary p-3">
        <div class="visual-content flex-fill m-3">
            <ng-content select=".visual-content"></ng-content>
        </div>
        <div class="visual-footer float-right t2 text-muted mr-3">
            <ng-content select=".visual-footer"></ng-content>
        </div>
    </div>
    <div class="visual-description d-flex flex-fill flex-column mt-5 pb-5 t1" *ngIf="hasDescription">
        <div class="col-8 mx-auto">
            <ng-content select=".visual-description"></ng-content>
        </div>
    </div>
</div>
