@import '../../../styles/theme.scss';

:host {
  width:100%;
  text-align:center;
  margin-top: spacing(large);
  margin-bottom: spacing(medium);
}
.tldr {
    border-top: $border-primary;
    border-bottom: $border-primary;
    padding-top:spacing(large);
    padding-bottom:spacing(large);
}
.tldr-text {
    opacity:.8;
}
 
