<div class="graph-cover flex flex-column flex-between">
    <h3> Richmond Bike Commute </h3>
    <div class="legend flex-column">
        <div class="legend-item flex flex-center--items" id="work">
            <div class="legend-marker"></div>
            <span class="legend-text"> Route to Work </span>
        </div>
        <div class="legend-item flex flex-center--items" id="home">
            <div class="legend-marker"></div>
            <span class="legend-text"> Route to Home </span>
        </div>
    </div>
    <div class="graph-container flex-end"></div>
</div>
<div class="map-cover map-cover--commute">
    <div class="map-item" id="map"></div>
</div>

