:host {
    display:flex;
    flex:1
}
:host /deep/ {

.graph-cover{
  width:33%;
  background: rgba(248, 248, 248, 0.8);
}
.graph-cover h3{
  margin-left:12px;
}
.graph-container {
  display:flex;
  width:100%;
}
.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}
.label-text {
  fill: #ffffff;
  font-size: 1.1rem;
}
.tick text {
  fill: #ffffff;
  font-size: 1.1rem;
}
.area {
  stroke-width: 0;
  stroke:none;
  cursor:pointer;
  opacity:.5;
}
.graph-title {
  fill: #ffffff;
}
.legend {
  display:flex;
  height:100%;
  width:100%;
}
.legend-item {
  opacity: .7;
  font-size:1.2rem;
  cursor:pointer;
  margin-left:1em;
}
.legend-item:hover {
  opacity: 1;
}
.legend-item:focus {
  opacity:1;
}
.legend-marker {
  display:block;
  width:30px;
  height:15px;
}
.legend-item#work .legend-marker{
  background-color:#2980b9;
}
.legend-item#home .legend-marker{
  background-color:#e74c3c;
}
.legend-text {
  padding-left: 10px;
}

}
