<div class="map-cover">
    <div id="map"></div>
    <div class="legend">
        <div class="legend-wrapper">
            <div class="legend-patch extreme"></div>
            <span>Extreme</span>
        </div>
        <div class="legend-wrapper">
            <div class="legend-patch severe"></div>
            <span>Severe</span>
        </div>
        <div class="legend-wrapper">
            <div class="legend-patch moderate"></div>
            <span>Moderate</span>
        </div>
    </div>
    <div class="buttons">
        <i class="button--left fa-angle-left"></i>
        <div class="drought-year">{{droughtYear}}</div>
        <i class="button--right fa-angle-right"></i>
    </div>
</div>


