<visual>
    <ng-container class="visual-header">
        Number of Bank Transactions Per Day
    </ng-container>
    <ng-container class="visual-content">
        <div id="graph" class="d-flex flex-fill h-100 align-items-center justify-content-center" #graph></div>
    </ng-container>
    <ng-container class="visual-description">
        <p>
            Work in progress. Inspired by my <a href="https://gitlab.com/bgeo">Gitlab activity chart</a>, see when and how 
            often I am swiping that credit card.
        </p>
    </ng-container>
    <ng-container class="visual-footer">
        Source: <a href="https://budget.bgeo.io">My Budgeting Application</a>
    </ng-container>
</visual>
