<div class="container-fluid m-5">
  <div class="row">
    <section class="col-sm-10">
      <router-outlet></router-outlet>
    </section>
    <div class="col-sm-2">
      <app-panel-sidebar class="p-0 ">
        <ul class="list-group text-center">
            <a class="list-group-item list-group-item-action" routerLink="/visuals/spending" routerLinkActive="active">When I Spend</a>
            <a class="list-group-item list-group-item-action" routerLink="/visuals/about-me-map" routerLinkActive="active">About Me Map</a>
            <a class="list-group-item list-group-item-action" routerLink="/visuals/drought" routerLinkActive="active">US Drought</a>
        </ul>
      </app-panel-sidebar>
    </div>
  </div>
</div>
