@import '../../../styles/styles.scss';

.post-card {
  background: theme(background-light);
  @extend .shadow;
  transition:box-shadow .3s ease;
  &:hover {
    @extend .shadow-lg;
  }
}

.post-section {
  flex: 0 1 10em;
}

.post-cover {
  border-radius: .3em;
}

.post-image {
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-position:center;
}
