/* ==========================================================================
   #SETTINGS-THEME
   ========================================================================== */

$white: #fff;
$asphalt: #303e4d;
$iron: #ededed;
$grey: #f8f8f8;
$regent-grey: #8e949f;
$light-green: #2ecc71;
$orange: #EBA36F;
$dark-green: #27ae60;
$sea-green: #16a085;

theme(background): $white;
theme(logo): $sea-green;
// theme(primary): $asphalt;
// theme(secondary): $iron;
// theme(secondary)-light: $grey;
$color-layout: $grey;
// $color-link: #3498db#2f7bbd;
$color-link: #3498db;
$color-link-focus:#8a959e;

$color-category-maps: $orange;
$color-category-esri: $light-green;


$color-text-light: $white;
theme(dark): $asphalt;
theme(light): $regent-grey;


$font-secondary: Montserrat, sans-serif;
$font-body: Lato, sans-serif;
$font-primary: Lato, sans-serif;

$border-primary:1px solid theme(secondary);

$link-underline: linear-gradient(to bottom, rgba(0,0,0,0) 85%, rgba(0,0,0,1) 100%);
$link-underline-hover: linear-gradient(to bottom, rgba(0,0,0,0) 82%, rgba(0,0,0,1) 100%);

