<nav [ngClass]="{'no-masthead': winHeight > 70}" class="posts-sidebar position-fixed d-flex flex-column align-items-start justify-content-between flex-fill">
 
  <div class="nav-components">
    <div class="d-flex flex-column align-items-start">
      <span class="nav-header t2 w-100 mb-3">Categories</span>
      <a class="side-link d-flex t3 text-uppercase" routerLink="/posts/" routerLinkActive="nav-link--active" [routerLinkActiveOptions]="{exact:true}">
        <div class="post-meta-category">All</div>
      </a>
      <a *ngFor="let category of categories" class="side-link d-flex align-items-center t3 text-uppercase" [routerLink]="['/posts/category/', category]" routerLinkActive="nav-link--active">
        <div class="post-meta-category--{{category}} post-meta-icon"></div>
        <div class="post-meta-category">{{category}}</div>
      </a>
    </div>
    <div class="d-flex flex-column align-items-start mt-3">
      <span class="nav-header t2 w-100 mb-3">Tags</span>
       <a *ngFor="let tag of tags" class="side-link d-flex t3 text-uppercase" [routerLink]="['./']" [queryParams]='{ tag:tag}' routerLinkActive="nav-link--active">
        <div class="post-meta-category">{{tag}}</div>
      </a>
   </div>
  </div>
</nav>
