<nav class="posts-sidebar">
 
  <div class="posts-nav">
    <span class="nav-header">Categories</span>
    <a class="nav-link text-light upper" routerLink="/posts/" routerLinkActive="nav-link--active" [routerLinkActiveOptions]="{exact:true}">
      <div class="post-meta-category">All</div>
    </a>
    <a *ngFor="let category of categories" class="nav-link text-light upper" [routerLink]="['/posts/filter/', category]" routerLinkActive="nav-link--active">
      <div class="post-meta-category--{{category}} post-meta-icon"></div>
      <div class="post-meta-category">{{category}}</div>
    </a>
  </div>
  <div class="site-meta">
    <span>Created by Brian Brown</span>
  </div>
</nav>
