@import '../../styles/variables.scss';
:host {
  flex: 0 0 10em;
  padding-left:$break-medium;
}

.posts-sidebar {
  top:$masthead-height + $break-small + $masthead-border;
  bottom:0;
  display:flex;
  position:fixed;
  flex-direction:column;
  align-items: flex-start;
  justify-content:space-between;
  transition: top 0.5s ease-in-out 0.1s;
  flex:1;
  &.no-masthead {
    top:$break-small;
    transition: top 0.5s ease-in-out 0.25s;
  }
}
.category-nav {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}
.tags-nav {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  margin-top:$break-medium;
}
.nav-header {
  font-size:1.6rem;
  margin-bottom:$break-small;
  border-bottom:2px solid $color-secondary;
  color:$color-primary;
  width:100%;
}
.nav-link {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  &:hover{
    color: $color-primary;
    opacity:1;
  }
  &:focus {
    color: $color-primary;
    opacity:1;
  }

}
.nav-link--active {
  opacity:1 !important;
  color:$color-primary !important;
}

.site-meta{
  display:flex;
  align-items:center;
  font-size:1.2rem;
  margin-bottom:$break-medium;
  color:$color-text-weak;
  font-family:$font-light;
}
