.post-content {

    h4 {
        margin: 0 0 spacing(small);
        opacity:0.8;
    }


    .img-wrapper {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    

    table {
        display:block;
        overflow:auto;
        width:100%;
        border-collapse: collapse;
        border-spacing: 0;
        word-break: keep-all;
        margin-bottom:spacing(large);
    }
    table tr th {
        padding:6px 13px;
        border: $border-primary;
    }
    table tr {
        border-top: $border-primary;
    }
    table tr td {
        padding: 6px 13px;
        border: 1px solid theme(secondary);
    }
    table tr:nth-child(2n) {
        background-color: theme(secondary)-light;
    }
   img {
        display:block;
        width: 100%;
        height: 100%;
    }
    .img-title {
        text-align:center;
        font-size: 1.4rem;
        vertical-align:middle;
        margin-bottom: spacing(large);
    }


    pre {
        overflow:auto;
        padding: spacing(medium);
        margin-left:-1.3em;
        margin-bottom: spacing(large);
        margin-top:0;
        border-left: .3em solid theme(light);
        background-color:theme(secondary)-light;
    }
    code {
        font-family:$font-primary;
        font-size: 1.5rem;
    }
    .hljs-keyword { color: rgba(242,56,92,1); }
    .hljs-string { color: rgb(39,174,96); }
    .hljs-number { color: rgba(54,177,191,1); }
    .hljs-built_in { color: rgba(242,56,92,1); }
    .hljs-variable { color: rgb(241,196,15); }

    .map-title {
            height:45px;
            text-align:center;
            font-size: 1.4rem;
            vertical-align:middle;
            margin-top:spacing(small);
            margin-bottom:spacing(large);
    }

}