<div class="layout-wrapper">
    <div class="post-header">
        <div class="post-meta upper">
            <span class="post-meta-text">{{post.date | momentPipe}}</span>
            <span class="post-meta-break"></span>
            <div class="post-meta-category--{{post.category}} post-meta-icon"></div>
            <span class="post-category uppder">{{post.category}}</span>
        </div>
        <h3 class="post-title">{{post.title}}</h3>
    </div>
    <article id="{{post.key}}" class="post-content" [innerHTML]="article"></article>
    <footer class="post-footer text-light">
        <div class="tldr">
            <h4>tl;dr</h4>
            <span class="tldr-text">{{post.tldr}}</span>
        </div>
    </footer>
</div>
