@import '../../../styles/styles.scss';

.masthead-logo {
  flex:0 1;
  font-size:2.6rem;
  width:40px;
  height:40px;
  letter-spacing:-1px;
  border-radius:999px;
  border: 3.5px solid theme(logo);
  color:theme(logo);
  opacity:0.8;

  &:hover {
    opacity:1;
  }
  &:focus {
    opacity:1;
  }
  & a {
    @extend .link-none;
    color:inherit;
  }
}


nav {
  a {
    font-size:1.3rem;
    letter-spacing:0.1em;
    @extend .link-none;
    &:not(:last-child) {
      @extend .mr-5;
    }
    &:focus {
      background-image: $link-underline;    
    }
    &:hover {
      background-image: $link-underline;
    }

  }
  .active-link {
    background-image: $link-underline;
  }

}
