
header {
  background: #ffffff;
  border-bottom:2px solid #ededed;
  height:62px;
}

.content-top {
  z-index:2;

}

.masthead-logo {
    opacity:0.9;
    font-size:1.8rem;
    letter-spacing:0.01px;

  &:hover {
    opacity:1;
  }
  &:focus {
    opacity:1;
  }
  & a {
    color:inherit;
  }
  & span {
    white-space: nowrap;
  }
}


nav {
 .active-link {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 85%, rgba(0,0,0,1) 100%);
  }

}

.link-list {
  z-index:2;
}
.list-inline {
  .list-inline-item{
    &:not(:last-child) {
      margin-right:4rem;
    }
  }
}
