@import '../../../styles/variables.scss';

:host {
  display:flex;
  flex-direction:column;
  align-items:center;
  flex:1;
}


.about-image {
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 56px;
  width: 56px;
  margin-right:$break-medium;
}

.about-content {
  display:flex;
  flex-direction:column;
  align-items:center;
}
.about-content-wrapper {
  margin-top:$break-medium;
  flex-basis:75%;
  & p {
    font-size:1.6rem;
  }
}

.popup-container{
  display:flex;
  background:$color-secondary;
  border-radius:8px;
  padding:$padding-medium;
  flex-direction: column;
  font-size:1.4rem;
}
.popup-line{
  display:flex;
  align-items:center;

  strong {
    color: $color-primary;
  }
  & ul {
    margin:0;
  }
}
.popup-footer {
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  & a {
    background-image:none;
    margin-left:$break-small;
    opacity:.8;
    color: $color-primary;
  }
  & a:hover {
    opacity:1;
  }
  & i {
    font-size:1.9rem;
    @extend .link;
  }

}
.popup-title{
  margin-bottom:$break-small;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  
  border-top: 3rem solid $color-secondary;
}

.pin-container {
  display:flex;
  justify-content:center;
  align-items:flex-end;
  height:5rem;
  position:relative;
  margin-top: $break-large;

  & .fa-map-marker {
    font-size:7.5rem;
    position:absolute;
    color:$color-logo;
  }

  & .marker-point {
    height: 4rem;
    width: 4rem;
    border-radius:999px;
    border: 5px solid $color-primary;
    position:absolute;
    bottom:-1.2rem;
  }
}
