<!-- <app-panel>
    <about-me-map></about-me-map>
</app-panel> -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 d-flex align-items-center justify-content-center flex-column">
                <img class="user-image user-image-full about-image" src="/assets/page/about/me.jpg" width=152 height=152>
                <span class="m-2">~~ME~~</span>
        </div>
        <div class="col-lg-6">
            <h3>Intro</h3>
            <p class="t1">
                I am an application developer and consultant with 6 years experience in the industry.  In 2012, I visited 
                <a href="https://www.mapbox.com/">Mapbox</a> and was inspired by the transformative power the web can have 
                in connecting people to information and each other. I took away the drive that has carried me to this day: 
                to create useful applications on the web.
            </p>
            <p class="t1">
                I currently work at <a class="link" href="https://www.geodecisions.com/">GeoDecisions</a>, building web apps for state agencies 
                that integrate business processes with technology. Outside, I find ways to
                enhance my own life with a <a href="https://budget.brianbrown.dev/login">budgeting app </a>and <a href="https://groceries.brianbrown.dev/">grocery list app</a>.
            </p>
            <p class="t1">
                My core stack is <a href="https://developer.mozilla.org/en-US/docs/Web/javascript">JavaScript</a>, <a href="https://www.typescriptlang.org/">TypeScript</a>, <a href="https://angular.io/">Angular</a>,
                <a href="https://dotnet.microsoft.com/">.NET</a>, <a href="https://docs.microsoft.com/en-us/dotnet/csharp/">C#</a>, SQL, and <a href="https://www.python.org/">Python</a>.
            </p>
            <p class="t1">
                Feel free to reach me by email at:  brbrowngeo-at-gmail-dot-com.
            </p>
        </div>
    </div>
</div>


