<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex flex-wrap imagery">
                <div class="d-flex align-items-center flex-column">
                    <img class="image" src="/assets/page/about/me.jpg" aria-label="Me (Brian)">
                    <span class="m-2">Me</span>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <img class="image" src="/assets/page/about/puma.JPG" aria-abel="Puma (Dog)">
                    <span class="m-2">Puma Sneaker (my sidekick)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center mt-4">
        <div class="col-md-11">
            <h2>About</h2>
            <p>
                I work on web applications at
                <a class="link" href="https://www.udig.com/">UDig</a>. When I am not developing, I like cooking, disc golf, and walking my dog, Puma.
                My tech stack includes:
            </p>
            <div class="chip-list mb-4">
                <span class="chip">React</span>
                <span class="chip ml-2">Angular</span>
                <span class="chip ml-2">TypeScript</span>
                <span class="chip ml-2">C#</span>
                <span class="chip ml-2">.NET</span>
                <span class="chip ml-2">SQL</span>
                <span class="chip ml-2">Python</span>
            </div>
            <p>
                Get in touch on <a href="https://www.linkedin.com/in/brian-brown-20997154/">Linkedin</a> or email me at brbrowngeo at gmail dot com.
            </p>
        </div>
    </div>
</div>
