<main class="layout-wrapper layout-wrapper--margin">
  <section class="about-content">
    <div class="popup-container">
      <div class="popup-line popup-title">
        <img class="user-image" src="/assets/page/about/cover.jpg" width=70 height=70>
        <span>BRIAN BROWN</span>
      </div>
      <div class="popup-line">
          <strong>Title:&nbsp;</strong>
          Developer
      </div>
      <div class="popup-line">
          <strong>Company:&nbsp;</strong>
          <a href="http://worldviewsolutions.com/">WorldView Solutions</a>
      </div>
      <div class="popup-line">
          <strong>Location:&nbsp;</strong>
          Richmond, Virginia
      </div>
      <div class="popup-line">
          <strong>Focus:&nbsp;</strong>
          Application Development
      </div>
      <div class="popup-line">
          <strong>Speciality:&nbsp;</strong>
          Visualizing data with maps
      </div>
      <div class="popup-line">
        <div>
          <strong>Languages:&nbsp;</strong>
          <ul>
            <li>Python</li>
            <li>JavaScript and TypeScript</li>
            <li>C#</li>
          </ul>
        </div>
      </div>
      <div class="popup-line">
          <div>
            <strong>Frameworks and Libraries:&nbsp;</strong>
            <ul>
              <li>ASP.NET and .NET Core</li>
              <li>AngularJS and Angular</li>
              <li>ArcGIS JS API</li>
              <li>Leaflet</li>
              <li>D3.js</li>
            </ul>
          </div>
      </div>
      <div class="popup-line">
        <div>
          <strong>Databases:&nbsp;</strong>
          <ul>
            <li>SQL Server</li>
            <li>SQLite</li>
            <li>PostgreSQL</li>
          </ul>
        </div>
      </div>
      <div class="popup-line">
          <strong>Favorite Editor:&nbsp;</strong>
          VS Code with Vim
      </div>
      <div class="popup-line">
          <strong>Favorite OS:&nbsp;</strong>
          Arch Linux
      </div>
      <div class="popup-line">
        <div>
          <strong>Projects:&nbsp;</strong>
          <ul>
            <li><a href="https://budget.bgeo.io">Budgeting App</a></li>
            <li><a href="https://rvau.bgeo.io">Richmond Ultimate Score Reporter</a></li>
            <li><a href="http://www.richmondultimate.com">Richmond Ultimate Website</a></li>
          </ul>
        </div>
      </div>
      <div class="popup-footer popup-line">
        <a href="https://gitlab.com/bgeo"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/brian-brown-20997154/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://stackoverflow.com/users/story/2564609"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="arrow-down"></div>
    <div class="pin-container">
      <span class="marker-point"></span>
      <i class="fa fa-map-marker" aria-hidden="true"></i>
    </div>
  </section>
</main>
