<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 d-flex align-items-center justify-content-center flex-column">
          <a href="apps/grocery-list">
            <div class="card">
              <div class="row no-gutters">
                <div class="col-md-5">
                  <!-- <img class="" src="/assets/page/apps/groceries_list.png" width=320 height=480> -->
                  <img class="img-fluid" src="/assets/page/apps/groceries_list.png">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h5 class="card-title">Grocery List</h5>
                    <p class="t2">
                      A light-weight checklist of groceries needed for the week.
                    </p>
                    <p class="t2">
                      Developed out of a need to stop the tedium of writing out ingredients by hand.
                      The list works by taking recipes, which have ingredients, and adding them to a meal plan.
                      The meal plan then combines all the ingredients into a list of groceries for the week.
                    </p>
                    <p class="t2">
                      Stack: Angular | .NET Core | SQLite
                    </p>
                    <p class="t2"><small class="text-muted">Launched November 2018</small></p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-7">
        </div>
    </div>
</div>


