
:host {
  display:flex;
  justify-content: center;
  align-items:center;
  flex:1;
  overflow-y:auto;
}



.spacer {
  display:flex;
  flex: 1 1 auto;
  border-top:2px solid #ededed;
  height:1px;
}

@media (max-width: 767.98px) { 
  .bottom-spacing {
    margin-bottom:3rem;
  }

}

.t2 {
  margin-bottom:0;
}