<div class="container-fluid m-5">

  <div class='row my-5'>
    <div class="col d-flex justify-content-center">
      <!-- <img class="card-primary" src="/assets/page/apps/groceries_list.png" width=320 height=480> -->
      <img class="card-primary img-fluid" src="/assets/page/apps/groceries_list.png">
    </div>
    <div class="col d-flex flex-column justify-content-center">
      <div>
        <a class="h3 link-primary" href="https://groceries.brianbrown.dev">
            <span class="h3">
              Grocery List
              <i class="material-icons">arrow_forward</i>
            </span>
        </a>
        <p class="t1">
          A light-weight checklist of groceries needed for the week.
        </p>
        <p class="t1">
          Developed out of a need to stop the tedium of writing out ingredients by hand,
          the list works by taking recipes, which have ingredients, and adding them to a meal plan.
          The meal plan then combines all the ingredients into a list of groceries for the week.
        </p>
        <div class="chip-list mb-4">
            <span class="chip">Angular</span>
        </div>
        <p class="t2 text-muted">Launched October 2018</p>
      </div>
    </div>
  </div>

  <div class='p-5'>
    <div class="spacer"></div>
  </div>

  <div class='row mt-5'>
    <div class="col d-flex flex-column justify-content-center">
      <div>
        <a class="h3 link-primary" href="https://budget.brianbrown.dev">
            <span class="h3">
              Budgeting
              <i class="material-icons">arrow_forward</i>
            </span>
        </a>
        <p class="t1">
          A comprehensive, multi-purpose budgeting app turned partial life app.
        </p>
        <p class="t1">
          Track budgets, transactions, recipes, meal plans, groceries, books, and food products.
          Visualize changes by year with embedded graphs. Get a month break down of budgets.  All
          transactions are imported from financial institutions in an ETL. All food related data 
          entered manually through receipts and cookbooks using CRUD workflows in the web app.
        </p>
        <div class="chip-list mb-4">
            <span class="chip">Angular</span>
            <span class="chip">.NET Core</span>
            <span class="chip">SQLite</span>
        </div>
        <p class="t2 text-muted">Launched April 2017</p>
      </div>
    </div>
    <div class="col">
      <img class="card-primary img-fluid" src="/assets/page/apps/expenses.png">
    </div>
  </div>

  <div class='p-5'>
    <div class="spacer"></div>
  </div>

  <div class='row mt-5'>
    <div class="col">
      <img class="card-primary img-fluid" src="/assets/page/apps/scores.png">
    </div>
    <div class="col d-flex flex-column justify-content-center">
      <div>
        <a class="h3 link-primary" href="https://rvau.brianbrown.dev">
            <span class="h3">
              Richmond Ultimate Scores 
              <i class="material-icons">arrow_forward</i>
            </span>
        </a>
        <p class="t1">
          A simple score page for viewing league scores and team results by year.
        </p>
        <p class="t1">
          I participated in a local Ultimate Frisbee league for a few years. While playing, I created this 
          app as a fun way for teams to see their scores. Unfortunately, I have stopped playing and the
          site is no longer updated.
        </p>
        <div class="chip-list mb-4">
            <span class="chip">Angular</span>
            <span class="chip">Python with Flask</span>
            <span class="chip">SQLite</span>
        </div>
        <p class="t2 text-muted">Launched May 2016</p>
      </div>
    </div>
  </div>

  <div class='p-5'>
    <div class="spacer"></div>
  </div>

  <div class='row mt-5'>
    <div class="col d-flex flex-column justify-content-center">
      <div>
        <a class="h3 link-primary" href="https://richmondultimate.com">
            <span class="h3">
              Richmond Ultimate Website
              <i class="material-icons">arrow_forward</i>
            </span>
        </a>
        <p class="t1">
          A WordPress site to feature upcoming events and provide league information.
        </p>
        <p class="t1">
          As a volunteer web developer, I put together the site by customizing a theme and integrating Twitter, calendar, 
          and Instragram widgets. From there, I've given support to them as they add content to the site or create new pages/posts.

          I am no longer active in maintaining the website as of the end of 2017.
        </p>
        <div class="chip-list mb-4">
            <span class="chip">WordPress</span>
        </div>
        <p class="t2 text-muted">Launched January 2016</p>
      </div>
    </div>
    <div class="col">
      <img class="card-primary img-fluid" src="/assets/page/apps/richmondultimate.png">
    </div>
  </div>

</div>


