.about-image {
  display:block;
  width:15em;
  height:15em;
  background:url(/assets/page/about/cover.jpg) no-repeat bottom;
  background-size: cover;
  border-radius:50%;
  margin:1.5em auto 3em auto;
  border:1em solid $color-secondary;
}
